ul {
    list-style-type: none;
    margin: 10;
    padding: .5;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 640;
  }
  
  li {
    float: left;
    color: beige;
  }
  
  a {
    display: block;
    padding: 20px;
    background-color: #f99ce5;
    color: white;
    text-decoration: none;
  }

  